{% extends 'base.html.twig' %}

{% block title %}Bienvenido a la web Random!{% endblock %}

{% block body %}

<div id="NumberForm"></div>
<div id="app"></div>
<div id="byMonthDonut"></div>
<div id="byDayDonut"></div>
<div id="byMonthBar"></div>
<div id="byDayBar"></div>
{% endblock %}
